.markdown-editor {
    display: grid;
    grid-template-rows: min-content auto;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    height: 100%;
    width: 100%;
}

.markdown-editor-toolbar {
    -webkit-user-select: none;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #bbbbbb;
    background-color: #2f2f2f;
    display: flex;
    flex-wrap: wrap;
}

.markdown-editor-body {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #404040;
}

.markdown-editor-button {
    height: 30px;
    width: 30px;
    background: transparent;
    color: #a2a2a2;
    font-family: "Material Design Icons";
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.markdown-editor-button:hover {
    background: #404040;
    border-color: #bbbbbb;
    color: #ffffff;
}

.markdown-editor-separator {
    height: 30px;
    width: 15px;
    background: transparent;
    color: #cccccc;
    font-family: "Material Design Icons";
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 18px;
    transform: rotate(90deg);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.markdown-editor-ta {
    box-sizing: border-box;
    resize: none;
    padding: 0;
    outline: none;
    border: none;
    overflow-x: hidden;
    background: #404040;
    color: #cccccc;
    unicode-bidi: plaintext;
    font-family: 'Times New Roman';
    font-size: 16px;
}

.markdown-editor-preview {
    box-sizing: border-box;
    overflow: auto;
    background: #404040;
    color: #cccccc;
    font-size: 16px;
}

.markdown-editor-preview>* {
    unicode-bidi: plaintext;
    margin-left: 15px;
    margin-right: 15px;
}

.markdown-editor-preview img {
    max-width: 100%;
}

.gutter {
    width: 15px !important;
    background: #2f2f2f;
    color: #a2a2a2;
    font-family: "Material Design Icons";
    display: flex;
    align-items: center;
    justify-content: center;
}

.gutter:hover {
    color: #ffffff;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

@media only screen and (max-width: 768px) {
    .markdown-editor-button {
        font-size: 27px;
        height: 35px;
        width: 35px;
    }
    
    .markdown-editor-separator {
        font-size: 25px;
    }
    
    .gutter {
        width: 25px !important;
        font-size: 20px;
    }
}
