/*
#505050 bg color
#bbbbbb borders color
#2f2f2f outer bg color
#404040 inner bg color
#a2a2a2 icons color
#ffffff icons hover color
#404040 icons hover bg color
#cccccc text color
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
  color: #bababa;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba;
}

.hljs-code,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #cb7832;
}

.hljs-params {
  color: #b9b9b9;
}

.hljs-string {
  color: #6a8759;
}

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f;
}

blockquote {
  border-left: 6px solid #bbbbbb;
  padding-left: 6px;
}

code {
  padding: 1px;
  background: #2b2b2b;
  color: #bababa;
}

table {
overflow: hidden;
width: 100%;
}

table tr {
background-color: #2b2b2b;
}

table th {
background-color: #1b1b1b;
color: #7f7f7f;
font-family: monospace;
padding: 2%;
}

table td {
color: #bababa;
font-family: monospace;
padding: 2%;
}

table td:first-child {
background-color: #1b1b1b;
  color: #7f7f7f;
  font-weight: bold; 
}

.md-spoiler {
  display: inline-block;
  background: #1b1b1b;
  border-radius: 4px;
  padding: 4px;
}

.md-spoiler > * {
  z-index: -1;
  opacity: 0;
  position: relative;
}

.md-unhidenspoiler > * {
  opacity: 1 !important;
  z-index: 1 !important;
}

.md-media {
  background: #1b1b1b;
  display: inline-block;
  height: 120px;
  width: auto;
}